.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  height: 80px;
  width: 100vw;
  border-bottom: 1px solid;
}

.app-logo {
  height: 35px;
}
.nav-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.link {
  color: transparent;
}

.nav-btn {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  margin-right: 30px;
  outline: none;
  border: none;
  background-color: transparent;
}

.nav-link {
  text-decoration: none;
  color: #000000;
}

.active {
  color: orange;
}

.language-drop-down {
  border: 1px solid rgb(162, 161, 161);
  border-radius: 5px;
  height: 35px;
  width: 80px;
}

.profile-btn {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  border: 1px solid rgb(162, 161, 161);
  padding: 5px;
  background-color: #ffffff;
  margin-left: 20px;
}

.profile {
  color: rgb(162, 161, 161);
  font-size: 20px;
}

.language-profile-btns-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  width: 100px;
}

.language-profile-btns-toggler-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.options-bg-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: blur;
}

.options-container {
  background-color: transparent;
  width: 200px;
  display: flex;
  justify-content: flex-end;
  border: 1px solid gray;
  padding-top: 40px;
  align-self: flex-end;
}

.popup-container {
  background-color: #ffffff;
  margin-right: 20px;
  width: 150px;
}

.wishing-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.text {
  margin-top: 0px;
  color: rgb(162, 161, 161);
  font-size: 15px;
  font-family: 'Roboto';
}

.hr-line {
  border: 1px solid rgb(162, 161, 161);
  width: 100%;
}

.side-bar-btns-container {
  width: 100%;
  padding: 5px;
  padding-top: 0px;
}

.side-bar-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  outline: none;
  height: 30px;
  padding: 5px;
  width: 100%;
  margin-top: 5px;
  border: none;
  background-color: transparent;
}

.sidebar-icons {
  font-size: 12px;
  color: rgb(162, 161, 161);
}

.btn-name {
  font-size: 12px;
  font-family: 'Roboto';
  margin-left: 8px;
  text-decoration: none;
  color: #000000;
}

.popup-container {
  align-self: flex-start;
  width: 300px;
}

.sidebar-arrow-icon {
  font-size: 15px;
  color: gray;
}

.contact-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
}

.contact-details-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  padding: 5px;
  width: 100%;
  margin-top: 5px;
  border: none;
  background-color: rgb(224, 222, 222);
  border-radius: 5px;
}

.phone-icon {
  color: green;
  font-size: 15px;
}

.contact-number {
  font-size: 12px;
  font-family: 'Roboto';
}

.contact-time {
  font-size: 8px;
  font-family: 'Roboto';
  color: grey;
  margin-top: 0px;
}

.email-wt-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  padding: 5px;
  width: 120px;
  height: 50px;
  margin-top: 5px;
  border: none;
  background-color: rgb(224, 222, 222);
  border-radius: 5px;
}

.email-wt-btns-cont {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
